<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
</head>
<body class="container-body">
    <header class="header">
        <p>Mega Rocket SA</p>
    </header>
    <main class="container-main">
        <div>
            <a href="/week-07/views/index.html"><img src="/assets/img/back-icon.png" alt="back" class="back-icon"></a>
        </div>
        <h1 class="sign-up-text">Sign up</h1>
        <section class="data">
            <ul class="list1">
                <li>
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Sara" name="name">
                    <div class="error-msg" id="name-error-msg">
                        Letters only and must be more than 3 letters
                    </div>
                </li>
                <li>
                    <label for="lastname">Lastname</label>
                    <input id="lastname" type="text" placeholder="Williams" name="lastname">
                    <div class="error-msg" id="lastname-error-msg">
                        Only letters and must have more than 3 letters
                    </div>
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="dni">DNI</label>
                    <input id="dni" type="text" placeholder="00.000.000" name="dni">
                    <div class="error-msg" id="dni-error-msg">
                        Only numbers and must have more than 7 numbers.
                    </div>
                </li>
                <li>
                    <label for="email">Email</label>
                    <input id="email" type="email" placeholder="sarawilliams@mail.com" name="email">
                    <div class="error-msg" id="email-error-msg">
                        Must have a valid email format.
                    </div>
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password">
                    <div class="error-msg" id="password-error-msg">
                        At least 8 characters, including 1 lowercase, 1 uppercase and 1 number
                    </div>
                </li>
                <li>
                    <label for="repeat-password">Repeat password</label>
                    <input id="repeat-password" type="password" name="repeat-password">
                    <div class="error-msg" id="pass-rep-error-msg">
                        Passwords don't match.
                    </div>
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="date-of-birth">Date of birth</label>
                    <input id="date-of-birth" type="date" placeholder="dd/mm/yyyy" name="date-of-birth">
                    <div class="error-msg" id="date-error-msg">
                        Use present or later year
                    </div>
                </li>
                <li>
                    <label for="address">Address</label>
                    <input id="address" type="text" placeholder="San Luis 0000" name="address">
                    <div class="error-msg" id="address-error-msg">
                        At least 5 characters with letters, numbers and a space in between.
                    </div>
                </li> 
            </ul>
            <ul class="list1">
                <li>
                    <label for="city">City</label>
                    <input id="city" type="text" placeholder="Rosario" name="city">
                    <div class="error-msg" id="city-error-msg">
                        Letters only and must be more than 3 letters
                    </div>
                </li>
                <li>
                    <label for="state">State</label>
                    <input id="state" type="text" placeholder="Santa Fe" name="state">
                    <div class="error-msg" id="state-error-msg">
                        Letters only and must be more than 3 letters
                    </div>
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="postal-code">Postal Code</label>
                    <input id="postal-code" type="text" placeholder="2000"name="postal-code">
                    <div class="error-msg" id="pc-error-msg">
                        Numbers only and must have between 4 and 5 numbers.
                    </div>
                </li>
                <li>
                    <label for="phone-number">Phone number</label>
                    <input id="phone-number" type="text" placeholder="1234-567890" name="phone-number">
                    <div class="error-msg" id="phone-error-msg">
                        Numbers only and must have 10 numbers.
                    </div>
                </li>
            </ul>                          
        </section>
        <button type="submit" id="submitBtn"  class="continue">Continue</button>
        <img src="/assets/img/logo-img.png" alt="logo-img" class="logo">
    </main>
    
    <script src="../js/sign-up.js"></script>
</body>
</html>