
*.container-body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    @import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script&family=Montserrat&family=PT+Serif&family=Poppins:wght@200;400&family=Roboto&display=swap%22");
}

/*header*/
.header{
    background-color: #373867;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 118px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    top: 0;
    left: 0;
}

/*aside*/
.container-aside{
    background-color:#F6F6F6;
    position: fixed;
    width: 335px;
    height: 100%;
    top: 118px;
    left: 0;
    text-align: center;
}

.aside-list{
    list-style:none;
}

.container-search{
    background-color: #fff;
    width: 255px;
    height: 36px;
    position: relative;
    border-radius: 4px;
}

.icon-search{
    color: black;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 45px;
    top: 20px;
}

.aside-list li{
    margin-bottom: 10px
}

.button-aside{
    width: 24px;
    height: 24px;
    color: black;
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.button-container{
    background-color: #AACE9B;
    border: #F6F6F6;
    width: 238px;
    height: 49px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.subtitle-info{
    color: #000;
    width: 109px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 139px;
}

.information-list{
    list-style:none;
}
.information-icon{
    width: 24px;
    height: 24px;
    margin-top: 80px;
    display: inline-block;
    vertical-align: middle;
}

.information-text{
    margin-bottom: 10px;
    margin-top: 80px;
    margin-right: 20px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

/*Screen-01*/

.container-main{
text-align: center;
margin-top: 118px;
margin-left: 335px;
}

.screen-01{
text-align: center;
}

.text-screen-01{
    color: #373867;
    text-align:center;
    margin-top: 150px;
    font-size: 48px;
    font-weight: bold;
}

.text-screen-02{
    color: #373867;
    text-align:center;
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
}

.logo-screen01-fixed{
    width: 87px;
    height: 81px;
    position: fixed;
    right: 10px;
}

.screen-a{
    display: inline-block;
    width: 220px;
    margin-left: 200px;
    margin-right: 75px;
    margin-top: 24px;
    margin-bottom: 75px;
}

.img-01{
    width: 214px;
    height: 211px;
    top: 1060px;
    left: 540px;
}

.img-02{
    width: 145px;
    height: 167px;
    top: 1083px;
    left: 1045px;
}

.img-03{
    width: 249px;
    height: 179px;
    top: 1362px;
    left: 530px;
}

.img-04{
    width: 177px;
    height: 145px;
    top: 1378px;
    left: 1029px;
}

.name-01{
    display: inline-block;
    width: 194px;
    height: 16px;
    left: 1000px;
    top: 1200px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.text-name{
    display: inline-block;
    width: 270px;
    height: 42px;
    left: 1000px;
    top: 1200px;
    font-size: 14px;
    text-align: center;
}

/*registration and claims*/
.text-screen-03{
    color: #373867;
    text-align:center;
    font-size: 40px;
    font-weight: bold;
}

.registration-claim{
    list-style:none;
}

.text-registration{
    text-align:center;
    font-size: 20px;
    padding-top: 36px;
    padding-bottom: 10px;
    display: block;
}

.text-registration-area{
    color: #D9D9D9;
    width: 386px;
    height: 44px;
}

.radio-reclaim{
    text-align: left;
    margin-top: 30px;
    padding-left: 270px;
}

.textarea-screen03{
    text-align: left;
    font-size: 13px;
    padding-left: 300px;
}

.textarea{
    width: 364px;
    height: 138px;
}

.send-button{
    background-color: #AACE9B;
    width: 110px;
    height: 33px;
    border-radius: 4px;
    border-color: #AACE9B;
    font-size: 16px;
    font-weight: bold;
}

/*About us*/

.about-us{
    color: #373867;
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px;
}

.caja-texto{
    background-color: rgba(170,206,155,0.1);
    border-radius: 5px;
    border-color: #000;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 80px;
    padding-left: 80px;
}

/*Activities*/

.activities{
    color: #373867;
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px;
}

.activity-name{
    margin-top: 10px;
    margin-bottom: 55px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.activity{
    display: inline-block;
    width: 30%;
}

/*membership*/

.membership-01{
    width: 311px;
    height: 40px;
    border-radius: 5px;
    background-color: #2A2A32;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.membership-02{
    width: 311px;
    height: 40px;
    border-radius: 5px;
    background-color: #CCCBCB;
    border-color: #CCCBCB;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.membership-03{
    width: 311px;
    height: 40px;
    border-radius: 5px;
    background-color: #EDEDED;
    border-color:#EDEDED;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.membership-info{
    text-align: left;
    margin-left: 350px;
    margin-bottom: 80px;
}

/*footer*/

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.footer p{
    display: inline-block;
}