<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="/week-06/css/login.css">
</head>
<body class="container-body">
    <header class="header">
        <p>Mega Rocket SA</p>
    </header>
    <main class="container-main">
        <div>
            <img src="/assets/img/back-icon.png" alt="back" class="back-icon">
        </div>
        <h1 class="login-text">Log In</h1>
        <img src="/assets/img/logo-img.png" alt="logo-icon" class="logo-icon">
        <section class="data">
            <ul>
                <li>
                    <label for="email">Email</label>
                    <input id="Email" type="text" placeholder="sarawilliams@gmail.com" name="email" class="email">
                </li>
                <li>
                    <label for="password">Password</label>
                    <input id="Password" type="text" name="password" class="password">
                </li>
            </ul>
        </section>
        <div class="remember">
            <input type="radio" id="cost" name="remember-me" value="remember-me" class="radio">
            <p>Remember Me</p>
            <a href="forgot-pasword">Forgot Password?</a>
        </div>
        <div>
            <button class="continue">Continue</button>
        </div>
        <div class="register">
            <p>Are you new here?</p>
            <a href="register" class="register">Register</a>
        </div>
    </main>
</body>
</html>