<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="/week-06/css/sign-up.css">
</head>
<body class="container-body">
    <header class="header">
        <p>Mega Rocket SA</p>
    </header>
    <main class="container-main">
        <div>
            <img src="/assets/img/back-icon.png" alt="back" class="back-icon">
        </div>
        <h1 class="sign-up-text">Sign up</h1>
        <section class="data">
            <ul class="list1">
                <li>
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Sara" name="name">
                </li>
                <li>
                    <label for="lastname">Lastname</label>
                    <input id="lastname" type="text" placeholder="Williams" name="lastname">
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="dni">DNI</label>
                    <input id="dni" type="text" placeholder="00.000.000" name="dni">
                </li>
                <li>
                    <label for="email">Email</label>
                    <input id="email" type="text" placeholder="sarawilliams@gmail.com" name="email">
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="password">Password</label>
                    <input id="password" type="text" placeholder="********" name="password">
                </li>
                <li>
                    <label for="repeat-password">Repeat password</label>
                    <input id="repeat-password" type="text" placeholder="********" name="repeat-password">
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="date-of-birth">Date of birth</label>
                    <input id="date-of-birth" type="text" placeholder="dd/mm/aaaa" name="date-of-birth">
                </li>
                <li>
                    <label for="adress">Adress</label>
                    <input id="adress" type="text" placeholder="San Luis 0000" name="adress">
                </li> 
            </ul>
            <ul class="list1">
                <li>
                    <label for="city">City</label>
                    <input id="city" type="text" placeholder="Rosario" name="city">
                </li>
                <li>
                    <label for="state">State</label>
                    <input id="state" type="text" placeholder="Santa Fe" name="state">
                </li>
            </ul>
            <ul class="list1">
                <li>
                    <label for="postal-code">Postal Code</label>
                    <input id="postal-code" type="text" placeholder="2000"name="postal-code">
                </li>
                <li>
                    <label for="phone-number">Phone number</label>
                    <input id="phone-number" type="text" placeholder="+00 0000 0000" name="phone-number">
                </li>
            </ul>                          
        </section>
        <button class="continue">Continue</button>
        <img src="/assets/img/logo-img.png" alt="logo-img" class="logo">
</body>
</html>