*.container-body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    @import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script&family=Montserrat&family=PT+Serif&family=Poppins:wght@200;400&family=Roboto&display=swap%22");
}

.menu-mobile img{
    display: flex;
}

.container-main{
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}

    /*appontment-calendar-management-contact form*/
.img-01{
    width: 214px;
    height: 211px;
}

.img-02{
    width: 145px;
    height: 167px;
    top: 1083px;
    left: 1045px;
}

.img-03{
    width: 249px;
    height: 179px;
    top: 1362px;
    left: 530px;
}

.img-04{
    width: 177px;
    height: 145px;
    top: 1378px;
    left: 1029px;
}

.registration ul{
    list-style: none;
}

.general-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 0px;
    left: 0;
    bottom: 0;
    text-align: center;
}

.general-footer p{
    font-size: 14px;
}

.logo-screen01-fixed{
    width: 87px;
    height: 81px;
}

/*media queries*/

@media screen and (min-width: 1024px){
    *.container-body{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #fff;
        @import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script&family=Montserrat&family=PT+Serif&family=Poppins:wght@200;400&family=Roboto&display=swap%22");
    }

    .menu-mobile img{
        display: none;
    }

    .logo-screen01-fixed{
        position: fixed;
        width: 87px;
        height: 81px;
        margin-top: 530px;
        right: 10px;
    }

    .general-footer{
    margin-left: 330px;
    }

    .general-footer p{
        margin-left: 0;
        }
}
