*.container-body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    @import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script&family=Montserrat&family=PT+Serif&family=Poppins:wght@200;400&family=Roboto&display=swap%22");
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 118px;
    background-color: #373867;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    top: 0;
    left: 0;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back-icon{
    position: fixed;
    top: 20px;
    right: 70px;
    color: #2A2A32;
    margin-top: 120px;
    width: 24px;
    height: 30px;
}

.login-text{
    width: 100%;
    height: 45px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 200px;
}

.logo-icon{
    display: flex;
    align-items: center;
    width: 118px;
    height: 123px;
    margin-top: 30px;
}

.data ul{
    list-style:none;
}

.data ul li label{
    list-style: none;
    display: flex;
    margin-top: 25px;
    margin-left: 0px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align:left;
}

.email{
    width: 260px;
    height: 40px;
}

.password{
    width: 260px;
    height: 40px;
}

.remember{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 30px;
}

.remember a{
    margin-left: 60px;
    list-style: none;
    font-size: 14px;
}

.continue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 33px;
    margin-top: 25px;
    margin-left: 28px;
    background-color: #AACE9B;
    border-radius: 4px;
    border-color: #AACE9B;
    font-size: 16px;
    font-weight: bold;
}

.register{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
}